---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:tf/pr_log_test_fixture%20type:pr%20is:merged%20milestone:v1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1437913028'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/3","labels_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/3/comments","events_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/3/events","html_url":"https://github.com/tf/pr_log_test_fixture/pull/3","id":96487397,"number":3,"title":"Fix
        bug in file","user":{"login":"tf","id":26554,"avatar_url":"https://avatars.githubusercontent.com/u/26554?v=3","gravatar_id":"","url":"https://api.github.com/users/tf","html_url":"https://github.com/tf","followers_url":"https://api.github.com/users/tf/followers","following_url":"https://api.github.com/users/tf/following{/other_user}","gists_url":"https://api.github.com/users/tf/gists{/gist_id}","starred_url":"https://api.github.com/users/tf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tf/subscriptions","organizations_url":"https://api.github.com/users/tf/orgs","repos_url":"https://api.github.com/users/tf/repos","events_url":"https://api.github.com/users/tf/events{/privacy}","received_events_url":"https://api.github.com/users/tf/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/labels/bug","name":"bug","color":"fc2929"}],"state":"closed","locked":false,"assignee":null,"milestone":{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/milestones/3","html_url":"https://github.com/tf/pr_log_test_fixture/milestones/v1.1.1","labels_url":"https://api.github.com/repos/tf/pr_log_test_fixture/milestones/3/labels","id":1219606,"number":3,"title":"v1.1.1","description":"","creator":{"login":"tf","id":26554,"avatar_url":"https://avatars.githubusercontent.com/u/26554?v=3","gravatar_id":"","url":"https://api.github.com/users/tf","html_url":"https://github.com/tf","followers_url":"https://api.github.com/users/tf/followers","following_url":"https://api.github.com/users/tf/following{/other_user}","gists_url":"https://api.github.com/users/tf/gists{/gist_id}","starred_url":"https://api.github.com/users/tf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tf/subscriptions","organizations_url":"https://api.github.com/users/tf/orgs","repos_url":"https://api.github.com/users/tf/repos","events_url":"https://api.github.com/users/tf/events{/privacy}","received_events_url":"https://api.github.com/users/tf/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":1,"state":"open","created_at":"2015-07-22T06:46:41Z","updated_at":"2015-07-22T06:46:49Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2015-07-22T06:46:19Z","updated_at":"2015-07-22T06:46:58Z","closed_at":"2015-07-22T06:46:23Z","pull_request":{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/pulls/3","html_url":"https://github.com/tf/pr_log_test_fixture/pull/3","diff_url":"https://github.com/tf/pr_log_test_fixture/pull/3.diff","patch_url":"https://github.com/tf/pr_log_test_fixture/pull/3.patch"},"body":"","score":1.0}]}'
  recorded_at: Sun, 26 Jul 2015 12:16:08 GMT
recorded_with: VCR 2.9.3
