---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:tf/pr_log_test_fixture%20type:pr%20is:merged%20milestone:v1.1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1437837991'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/2","labels_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/2/comments","events_url":"https://api.github.com/repos/tf/pr_log_test_fixture/issues/2/events","html_url":"https://github.com/tf/pr_log_test_fixture/pull/2","id":96384634,"number":2,"title":"Add
        another file to the repository","user":{"login":"tf","id":26554,"avatar_url":"https://avatars.githubusercontent.com/u/26554?v=3","gravatar_id":"","url":"https://api.github.com/users/tf","html_url":"https://github.com/tf","followers_url":"https://api.github.com/users/tf/followers","following_url":"https://api.github.com/users/tf/following{/other_user}","gists_url":"https://api.github.com/users/tf/gists{/gist_id}","starred_url":"https://api.github.com/users/tf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tf/subscriptions","organizations_url":"https://api.github.com/users/tf/orgs","repos_url":"https://api.github.com/users/tf/repos","events_url":"https://api.github.com/users/tf/events{/privacy}","received_events_url":"https://api.github.com/users/tf/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/milestones/2","html_url":"https://github.com/tf/pr_log_test_fixture/milestones/v1.1.0","labels_url":"https://api.github.com/repos/tf/pr_log_test_fixture/milestones/2/labels","id":1218738,"number":2,"title":"v1.1.0","description":"","creator":{"login":"tf","id":26554,"avatar_url":"https://avatars.githubusercontent.com/u/26554?v=3","gravatar_id":"","url":"https://api.github.com/users/tf","html_url":"https://github.com/tf","followers_url":"https://api.github.com/users/tf/followers","following_url":"https://api.github.com/users/tf/following{/other_user}","gists_url":"https://api.github.com/users/tf/gists{/gist_id}","starred_url":"https://api.github.com/users/tf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tf/subscriptions","organizations_url":"https://api.github.com/users/tf/orgs","repos_url":"https://api.github.com/users/tf/repos","events_url":"https://api.github.com/users/tf/events{/privacy}","received_events_url":"https://api.github.com/users/tf/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":1,"state":"open","created_at":"2015-07-21T18:24:36Z","updated_at":"2015-07-21T18:48:54Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2015-07-21T18:26:45Z","updated_at":"2015-07-21T18:27:15Z","closed_at":"2015-07-21T18:26:57Z","pull_request":{"url":"https://api.github.com/repos/tf/pr_log_test_fixture/pulls/2","html_url":"https://github.com/tf/pr_log_test_fixture/pull/2","diff_url":"https://github.com/tf/pr_log_test_fixture/pull/2.diff","patch_url":"https://github.com/tf/pr_log_test_fixture/pull/2.patch"},"body":"","score":1.0}]}'
  recorded_at: Sat, 25 Jul 2015 15:25:33 GMT
recorded_with: VCR 2.9.3
